<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form </title>
</head>
<body>
    <div>
        <h2>Register Here</h2>
        <form method="POST" action="/register">
        {{ form.hidden_tag() }}

        {{ form.pat_name.label }} <br>
        {{ form.pat_name() }}  <br/>
        {% for error in form.pat_name.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {{ form.pat_age.label }} <br/>
        {{ form.pat_age() }} <br/>
        {% for error in form.pat_age.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}


        {{ form.pat_email.label }} <br/>
        {{ form.pat_email() }} <br/>
        {% for error in form.pat_email.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {{ form.pat_phone.label }} <br/>
        {{ form.pat_phone() }} <br/>
        {% for error in form.pat_phone.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {{ form.pat_password.label }} <br/>
        {{ form.pat_password() }} <br/>
        {% for error in form.pat_password.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {{ form.submit() }}
        </form>

        <h4>Already have an account? <a href="/patient/login">Login here</a></h4>
    </div>
</body>
</html>